/* About Section */
#aboutSection {
    padding: 50px;
    background-color: #f4623a;
    color: white;
    font-family: 'Arial', sans-serif;
}

/* Header */
#header {
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 40px;
    font-weight: bold;
}

.about-text {
    display: flex;
    justify-content: center;  
    align-items: center;  
    text-align: center;  
    width: 100%; 
    max-width: 900px;  
    margin: 0 auto;
}

/* Button styling */
#cvButtonContainer {
    display: flex;
    justify-content: center;  
    align-items: center;  
    padding:20px;
}
.btn-cv {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    cursor: pointer;
    border-radius: 6em;
    transition: all 0.2s;
    border: none;
    font-family: inherit;
    color: black;
    background-color: white;
    font-weight: 600; 
}

    .btn-cv:hover {
        filter: brightness(0.8);
    }