/* General Styling for About Section */
#aboutSection {
    padding: 50px;
    background-color: #f4623a;
    color: white;
    font-family: 'Arial', sans-serif;
}

/* Header */
#header {
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 40px;
    font-weight: bold;
}

.about-text {
    display: flex;
    justify-content: center; /* Horizontally centers the text */
    align-items: center; /* Vertically centers the text */
    text-align: center; /* Ensure text inside is centered */
    width: 100%; /* Ensure the container takes the full width */
    max-width: 900px; /* Set the maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
}

/* Button styling */
#cvButtonContainer {
    display: flex;
    justify-content: center; /* Horizontally centers the button */
    align-items: center; /* Vertically centers the button */
    padding:20px;
}
#cvBtn {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    cursor: pointer;
    border-radius: 6em;
    transition: all 0.2s;
    border: none;
    font-family: inherit;
    color: black;
    background-color: white;
    font-weight: 600; /* Maximum font weight */
}

    #cvBtn:hover {
        filter: brightness(0.8); /* Dim the button */
    }