#contact-header {
    color: black;
    font-size: 40px;
    padding-top: 80px; /* space from the top of the page */
    text-align: center;
    position: relative;
    font-family: 'PT Serif', PT Serif;
}

    #contact-header::after {
        content: "";
        display: block;
        width: 80px;
        height: 3px;
        background-color: #FF8C00; /* Orange line */
        margin: 10px auto 0; /* This controls the space between the text and the orange line */
        position: relative;
        top: 10px;
    }

/* Form container */
.form-container {
    margin-top: 10px; /* Adjust this margin to control space between the line and the form */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form styling */
.form {
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
}

.input-field, .textarea-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

    .submit-btn:hover {
        background-color: #45a049;
    }

.form-control:focus {
    border-color: #ffa500;
    box-shadow: 0 0 0 0.25rem rgba(255, 165, 0, 0.25);
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 9999;
    animation: fadeIn 0.5s, fadeOut 0.5s 4.5s;
}

    .notification.success {
        background-color: #4CAF50;
        color: white;
    }

    .notification.error {
        background-color: #f44336;
        color: white;
    }

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

#number {
    color: black;
}
#word {
    position: center;
    font-family: 'PT Serif', PT Serif;
    font-weight: 300;
    font-size: 1.45rem;
    line-height: 1.6;
    text-align: center;
    margin: 0 auto 1.5rem;
    max-width: 800px;
    color:grey;
    padding-top:20px;
}