@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
    font-family: 'Nunito Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header.masthead {
    height: 100vh;
    padding-top: 11.5rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url('/img/bg-masthead.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.05em;
}

    header.masthead h1 {
        font-family: 'PT Serif', PT Serif;
        font-weight: 700;
        font-size: 3.5rem;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 1rem;
    }

    header.masthead .divider {
        width: 100px;
        height: 4px;
        margin: 1.5rem auto;
        margin-top: 0.5rem;
        display: inline-block;
    }

    header.masthead p {
        font-family: 'PT Serif', PT Serif;
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 1.6;
        text-align: center;
        margin: 0 auto 1.5rem;
        max-width: 800px;
    }

    header.masthead a {
        display: inline-block;
        background: #f4623a;
        color: white;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 0.8rem 1.5rem;
        border-radius: 5px;
        text-decoration: none;
        transition: background 0.3s ease-in-out;
    }

        header.masthead a:hover {
            background: #e05a33;
        }

.btn {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    cursor: pointer;
    border-radius: 6em;
    transition: all 0.2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: white;
    background-color: #f4623a;
    font-weight: 1000;
}

    .btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        font-weight: 900;
        color: white;
    }

    .btn:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    .btn::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
        background-color: #f4623a;
    }

    .btn:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }

nav.navbar {
    background-color: rgba(92, 77, 66, 0.8);
    color: white;
    padding: 1rem;
    transition: background-color 0.3s ease;
    padding-left: 4.5rem;
    font-weight: bolder;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

    nav.navbar .nav-link {
        color: white;
        font-weight: bold;
        padding: 0.5rem 1rem;
        transition: color 0.3s ease;
        text-decoration: none;
    }

        nav.navbar .nav-link:hover {
            color: #f4623a;
            text-decoration: none;
        }

#mainNav {
    background-color: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: none;
}

    #mainNav.scrolled {
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

        #mainNav.scrolled .nav-link {
            color: black;
        }

            #mainNav.scrolled .nav-link:hover {
                color: #f4623a;
            }

    #mainNav .nav-link {
        color: white;
        font-weight: bold;
        padding: 0.5rem 1rem;
        margin: 0 10px;
        position: relative;
        text-decoration: none;
        transition: color 0.3s ease;
    }

        #mainNav .nav-link:hover {
            color: #f4623a;
            text-decoration: none;
        }

a.name {
    color: white;
    font-size: 22px;
    text-decoration: none;
    transition: color 0.3s ease;
}

    a.name:hover {
        color: #f4623a;
    }

#mainNav.scrolled a.name {
    color: black;
}

    #mainNav.scrolled a.name:hover {
        color: #f4623a;
    }

@media (max-width: 1200px) {
    #mainNav {
        background-color: white !important;
    }

    .navbar-toggler-icon {
        background-color: transparent !important;
        border: 1px solid grey;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
    }

        .navbar-toggler-icon::before,
        .navbar-toggler-icon::after,
        .navbar-toggler-icon span {
            content: '';
            background-color: grey;
            width: 20px;
            height: 3px;
            border-radius: 3px;
        }

        .navbar-toggler-icon span {
            width: 18px;
        }

    #mainNav .nav-link {
        color: black !important;
    }

    #mainNav .navbar-collapse .nav-link:hover {
        color: #f4623a !important;
    }

    #mainNav .name {
        color: black !important;
    }

    #mainNav.scrolled a.name {
        color: black !important;
    }
}

section {
    scroll-margin-top: 50px;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
}
