#skill {
    background-color: white;
    font-family: 'PT Serif', PT Serif;
}
#skill-header {
    color: black;
    font-size: 40px;
    padding-top: 40px;
    position: relative;
    text-align: center;  
}

    #skill-header::after {
        content: "";
        display: block;
        width: 50px;  
        height: 3px;  
        background-color: #FF8C00;  
        margin: 10px auto 0; 
        position: relative;
        top: 10px;  
    }

.skill-icons-row {
    display: flex;
    justify-content: space-around;  
    flex-wrap: wrap;  
    gap: 30px;  
    padding-top: 40px;  
}

.skill-item {
    text-align: center;  
}

.skill-icons-row img {
    width: 70px; 
    height: 70px;  
    margin: 15px; 
}

.skill-item p {
    font-size: 18px;  
    margin-top: 8px; 
    color: #808080;  
    font-weight: 1000;  
}
#gith2{
    color:white;
}